.filterBar__button{
    background: none;
    border: none;
    padding: 0;
    color: #0000EE;
    cursor: pointer; 
    padding-right: 16px;
}
.filterBar__dropdown{
    background: none;
    border: none;
  
}
  
  