table{
    width: 100%;
    overflow: scroll;
    border-collapse: collapse;
}
td,th{
    padding: 0;
    padding-left: 12px;
}
tr:hover{

    background-color: #F7F2FF;
}
.table{
    background-color:#F7F9FC;
    margin: auto;
    width: 960px;
    border: 2px solid #E4E7F0;
    border-bottom: none;

    &__avatar{
        padding-right:15px;
    }

    &__row{
        border-bottom: 2px solid #E4E7F0;
        height: 46px;
        text-align: center; 
    }
    &__filterBar{
        height: 40px;
        padding: 10px;
        border-bottom: 2px solid #E4E7F0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__header{
        border-bottom: 2px solid #E4E7F0;
        height: 28px;
        font-weight: 600;
    }
}