table{
    width: 100%;
    overflow: scroll;
    border-collapse: collapse;
}
td,th{
    padding: 0;
    padding-left: 12px;
}

tr{
    transition: background .3s ease;
    &:hover{
        background-color: $hover-pink;
    }
}

.table{
    background-color: $greyish-white;
    margin: auto;
    width: 960px;
    border: $standard-border;
    border-bottom: none;

    &__avatar{
        padding-right:$m-size;
    }

    &__row{
        border-bottom: $standard-border;
        height: 46px;
        text-align: center; 
    }
    &__header{
        border-bottom: $standard-border;
        height: 28px;
        font-weight: 600;
    }
    &__error{
        text-align: center;
        margin: auto;
        width: 960px;
        padding: 10px;
    }
}