html{
  box-sizing: border-box;
}
body {
    background-color: #eff2f8;
    font-family:'helvitica';
    margin: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace; 
  }

  
  
  
  